this is the singlegallery
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
</head>
<body>

<div class="galleries">
    <div class= "gallery">
      <img src="{{link}}" alt="">
      <p>AUTHOR: {{author}}</p>
      <p>DESCRIPTION: {{description}}</p>
    </div>
</div>

    <form action="/gallery/{{id}}" method="POST">
      <label form="Delete"></label>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
    </form>

    <form action="/gallery/{{id}}" method="POST">
      <label form="Edit"></label>
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="EDIT">
    </form>

</body>
</html>